{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<ul>
  <li><LinkTo @route="posts">Posts</LinkTo></li>
  <ul>
    <li><LinkTo @route="post" @model={{1}}>Post 1</LinkTo></li>
    <ul>
      <li><LinkTo @route="comments" @model={{array 1 1}}>Post 1 comments page 1</LinkTo></li>
      <li><LinkTo @route="comments" @model={{array 1 2}}>Post 1 comments page 2</LinkTo></li>
    </ul>
    <li><LinkTo @route="post" @model={{2}}>Post 2</LinkTo></li>
    <ul>
      <li><LinkTo @route="comments" @model={{array 2 1}}>Post 2 comments page 1</LinkTo></li>
      <li><LinkTo @route="comments" @model={{array 2 2}}>Post 2 comments page 2</LinkTo></li>
    </ul>
  </ul>
</ul>

{{outlet}}
