<h2 id="title">Welcome to Ember.js</h2>

<ul>
<li>{{link-to 'Posts' 'posts'}}</li>
<ul>
<li>{{link-to 'Post 1' 'post' 1}}</li>
<ul>
<li>{{link-to 'Post 1 comments page 1' 'comments' 1 1}}</li>
<li>{{link-to 'Post 1 comments page 1' 'comments' 1 2}}</li>
</ul>
<li>{{link-to 'Post 2' 'post' 2}}</li>
<ul>
<li>{{link-to 'Post 2 comments page 1' 'comments' 2 1}}</li>
<li>{{link-to 'Post 2 comments page 2' 'comments' 2 2}}</li>
</ul>
</ul>
</ul>

{{outlet}}